<h2 id='title'>Welcome to The Mother of All Projects</h2>
<h3 id='subtitle'>Built by Team Doug Engelbart</h3>
<div id='button-holder'><%= link_to 'Play Now', new_challenge_path, class: "button" %></div>


