<%= link_to (challenge) do %>
  <div class="challenge">
    <div class="profile-pic">
      <img src="<%= asset_path challenge.last_player.image_url %>" alt="">
    </div>
    

    <div>
      <strong>Last move</strong> by <%= challenge.last_player.username %> at <%= challenge.updated_at %>
    </div>
  </div>
<% end %>