<div class="challenge">
  <%= link_to (challenge) do %>
  
    <div class="profile-pic">
      <img src="<%= asset_path challenge.users.reject { |user| user == current_user }.first.image_url %>" alt="">
    </div>

    <div class="time-elapsed">
      Last move <%= challenge.getTimeSinceLastMove %>
    </div>
    
    <div class="username">
      <%= challenge.users.reject { |user| user == current_user }.first.username %>
    </div>

  <% end %>
</div>