

<div class="challenge">
  <%= link_to (challenge) do %>
  
    <div class="profile-pic">
    <% opponent = challenge.users.reject { |user| user == current_user }.first %>
      <% if !opponent.image_url.nil? %>
        <img src="<%= asset_path opponent.image_url %>" alt="">
      <% else %>
        <i class="fa fa-user"></i>
      <% end %>
    </div>

    <div class="time-elapsed">
      Last move <%= challenge.getTimeSinceLastMove %>
    </div>
    
    <div class="username">
      <%= opponent.username %>
    </div>

  <% end %>
</div>