<div class="form">

<%= form_for @challenge do |f| %>
  <p>
    User to challenge:<br />
    <i class="fa fa-male"></i>
    <%= select_tag(:opponent_id, options_from_collection_for_select(current_user.other_users, :id, :username)) %> <br />
	</p><p>
	<%= f.submit 'Game on!' %>
  </p>
<% end %>
</div>


