<div class="challenge-list">
  <h3>My Turn<span>toggle</span></h3>
  <%= render @my_turn_challenges %>
</div>

<div class="challenge-list">
  <h3>Their Turn<span>toggle</span></h3>
  <%= render @their_turn_challenges %>
</div>

<div class="challenge-list">
  <h3>Finished Games<span>toggle</span></h3>
  <%= render @finished_challenges %>
</div>