
	<div class="container big-board sixteen columns">
		<div id="0" class="big square " piece="unfilled" column="left" row="top" status="inactive">
			<div id="0" class="small square" piece="unfilled" column="left" row="top" status="inactive"></div>
			<div id="1" class="small square" piece="unfilled" column="middle" row="top" status="inactive"></div>
			<div id="2" class="small square" piece="unfilled" column="right" row="top" status="inactive"></div>
			<div id="3" class="small square" piece="unfilled" column="left" row="middle" status="inactive"></div>
			<div id="4" class="small square" piece="unfilled" column="middle" row="middle" status="inactive"></div>
			<div id="5" class="small square" piece="unfilled" column="right" row="middle" status="inactive"></div>
			<div id="6" class="small square" piece="unfilled" column="left" row="bottom" status="inactive"></div>
			<div id="7" class="small square" piece="unfilled" column="middle" row="bottom" status="inactive"></div>
			<div id="8" class="small square" piece="unfilled" column="right" row="bottom" status="inactive"></div>
		</div> <!-- big square 0 -->
		<div id="1" class="big square" piece="unfilled" column="left" row="top" status="inactive">
			<div id="0" class="small square" piece="unfilled" column="left" row="top" status="inactive"></div>
			<div id="1" class="small square" piece="unfilled" column="middle" row="top" status="inactive"></div>
			<div id="2" class="small square" piece="unfilled" column="right" row="top" status="inactive"></div>
			<div id="3" class="small square" piece="unfilled" column="left" row="middle" status="inactive"></div>
			<div id="4" class="small square" piece="unfilled" column="middle" row="middle" status="inactive"></div>
			<div id="5" class="small square" piece="unfilled" column="right" row="middle" status="inactive"></div>
			<div id="6" class="small square" piece="unfilled" column="left" row="bottom" status="inactive"></div>
			<div id="7" class="small square" piece="unfilled" column="middle" row="bottom" status="inactive"></div>
			<div id="8" class="small square" piece="unfilled" column="right" row="bottom" status="inactive"></div>
		</div> <!-- big square 1 -->
		<div id="2" class="big square" piece="unfilled" column="left" row="top" status="inactive">
			<div id="0" class="small square" piece="unfilled" column="left" row="top" status="inactive"></div>
			<div id="1" class="small square" piece="unfilled" column="middle" row="top" status="inactive"></div>
			<div id="2" class="small square" piece="unfilled" column="right" row="top" status="inactive"></div>
			<div id="3" class="small square" piece="unfilled" column="left" row="middle" status="inactive"></div>
			<div id="4" class="small square" piece="unfilled" column="middle" row="middle" status="inactive"></div>
			<div id="5" class="small square" piece="unfilled" column="right" row="middle" status="inactive"></div>
			<div id="6" class="small square" piece="unfilled" column="left" row="bottom" status="inactive"></div>
			<div id="7" class="small square" piece="unfilled" column="middle" row="bottom" status="inactive"></div>
			<div id="8" class="small square" piece="unfilled" column="right" row="bottom" status="inactive"></div>
		</div> <!-- big square 2 -->
		<div id="3" class="big square" piece="unfilled" column="left" row="top" status="inactive">
			<div id="0" class="small square" piece="unfilled" column="left" row="top" status="inactive"></div>
			<div id="1" class="small square" piece="unfilled" column="middle" row="top" status="inactive"></div>
			<div id="2" class="small square" piece="unfilled" column="right" row="top" status="inactive"></div>
			<div id="3" class="small square" piece="unfilled" column="left" row="middle" status="inactive"></div>
			<div id="4" class="small square" piece="unfilled" column="middle" row="middle" status="inactive"></div>
			<div id="5" class="small square" piece="unfilled" column="right" row="middle" status="inactive"></div>
			<div id="6" class="small square" piece="unfilled" column="left" row="bottom" status="inactive"></div>
			<div id="7" class="small square" piece="unfilled" column="middle" row="bottom" status="inactive"></div>
			<div id="8" class="small square" piece="unfilled" column="right" row="bottom" status="inactive"></div>
		</div> <!-- big square 3 -->
		<div id="4" class="big square" piece="unfilled" column="left" row="top" status="inactive">
			<div id="0" class="small square" piece="unfilled" column="left" row="top" status="inactive"></div>
			<div id="1" class="small square" piece="unfilled" column="middle" row="top" status="inactive"></div>
			<div id="2" class="small square" piece="unfilled" column="right" row="top" status="inactive"></div>
			<div id="3" class="small square" piece="unfilled" column="left" row="middle" status="inactive"></div>
			<div id="4" class="small square" piece="unfilled" column="middle" row="middle" status="inactive"></div>
			<div id="5" class="small square" piece="unfilled" column="right" row="middle" status="inactive"></div>
			<div id="6" class="small square" piece="unfilled" column="left" row="bottom" status="inactive"></div>
			<div id="7" class="small square" piece="unfilled" column="middle" row="bottom" status="inactive"></div>
			<div id="8" class="small square" piece="unfilled" column="right" row="bottom" status="inactive"></div>
		</div> <!-- big square 4 -->
		<div id="5" class="big square" piece="unfilled" column="left" row="top" status="inactive">
			<div id="0" class="small square" piece="unfilled" column="left" row="top" status="inactive"></div>
			<div id="1" class="small square" piece="unfilled" column="middle" row="top" status="inactive"></div>
			<div id="2" class="small square" piece="unfilled" column="right" row="top" status="inactive"></div>
			<div id="3" class="small square" piece="unfilled" column="left" row="middle" status="inactive"></div>
			<div id="4" class="small square" piece="unfilled" column="middle" row="middle" status="inactive"></div>
			<div id="5" class="small square" piece="unfilled" column="right" row="middle" status="inactive"></div>
			<div id="6" class="small square" piece="unfilled" column="left" row="bottom" status="inactive"></div>
			<div id="7" class="small square" piece="unfilled" column="middle" row="bottom" status="inactive"></div>
			<div id="8" class="small square" piece="unfilled" column="right" row="bottom" status="inactive"></div>
		</div> <!-- big square 5 -->
		<div id="6" class="big square" piece="unfilled" column="left" row="top" status="inactive">
			<div id="0" class="small square" piece="unfilled" column="left" row="top" status="inactive"></div>
			<div id="1" class="small square" piece="unfilled" column="middle" row="top" status="inactive"></div>
			<div id="2" class="small square" piece="unfilled" column="right" row="top" status="inactive"></div>
			<div id="3" class="small square" piece="unfilled" column="left" row="middle" status="inactive"></div>
			<div id="4" class="small square" piece="unfilled" column="middle" row="middle" status="inactive"></div>
			<div id="5" class="small square" piece="unfilled" column="right" row="middle" status="inactive"></div>
			<div id="6" class="small square" piece="unfilled" column="left" row="bottom" status="inactive"></div>
			<div id="7" class="small square" piece="unfilled" column="middle" row="bottom" status="inactive"></div>
			<div id="8" class="small square" piece="unfilled" column="right" row="bottom" status="inactive"></div>
		</div> <!-- big square 6 -->
		<div id="7" class="big square" piece="unfilled" column="left" row="top" status="inactive">
			<div id="0" class="small square" piece="unfilled" column="left" row="top" status="inactive"></div>
			<div id="1" class="small square" piece="unfilled" column="middle" row="top" status="inactive"></div>
			<div id="2" class="small square" piece="unfilled" column="right" row="top" status="inactive"></div>
			<div id="3" class="small square" piece="unfilled" column="left" row="middle" status="inactive"></div>
			<div id="4" class="small square" piece="unfilled" column="middle" row="middle" status="inactive"></div>
			<div id="5" class="small square" piece="unfilled" column="right" row="middle" status="inactive"></div>
			<div id="6" class="small square" piece="unfilled" column="left" row="bottom" status="inactive"></div>
			<div id="7" class="small square" piece="unfilled" column="middle" row="bottom" status="inactive"></div>
			<div id="8" class="small square" piece="unfilled" column="right" row="bottom" status="inactive"></div>
		</div> <!-- big square 7 -->
		<div id="8" class="big square" piece="unfilled" column="left" row="top" status="inactive">
			<div id="0" class="small square" piece="unfilled" column="left" row="top" status="inactive"></div>
			<div id="1" class="small square" piece="unfilled" column="middle" row="top" status="inactive"></div>
			<div id="2" class="small square" piece="unfilled" column="right" row="top" status="inactive"></div>
			<div id="3" class="small square" piece="unfilled" column="left" row="middle" status="inactive"></div>
			<div id="4" class="small square" piece="unfilled" column="middle" row="middle" status="inactive"></div>
			<div id="5" class="small square" piece="unfilled" column="right" row="middle" status="inactive"></div>
			<div id="6" class="small square" piece="unfilled" column="left" row="bottom" status="inactive"></div>
			<div id="7" class="small square" piece="unfilled" column="middle" row="bottom" status="inactive"></div>
			<div id="8" class="small square" piece="unfilled" column="right" row="bottom" status="inactive"></div>
		</div> <!-- big square 8 -->
	</div> <!-- #big board -->