
<div class="big-board" data-url="<%= challenge_path %>" }>

  <% for i in 0..8 do  %>
  	<div id="<%= i %>" class="big square inactive">

  		<% for j in 0..8 do  %>
  			<div id="<%= i*9 + j %>" class="small square"><%= @challenge.getValue(i*9 + j)%> </div>
  		<% end %>

  	</div> 
  <% end %>

</div>