/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_skeleton
 *= require_tree .
 */

 #navbar {
  margin: 0;
  padding: 0;
 }

 #navbar li {
  display: inline;
  padding: 0;
  margin: 0;
  padding-right: 10px;
 }

 .notice {
  color: red;
 }

 .square {
 }

body{
	background: gray;
}

div.big-board{
	margin: 0 auto;
	width: 33%
}

div.big{
	width: 120px;
	height: 120px;
	border: 2px solid whitesmoke;
	border-radius: 0%;
	background: white;
	float: left;
	margin: 1px;
	
}
div.small{
	width: 35px;
	height: 35px;
	border: 1px solid whitesmoke;
	border-radius: 0%;
	background: blue;
	float: left;
	float: right;
	margin: 1px;
}